<div class="navbar-wagon">
  <!-- Logo -->
  <% link_to "index.html", class: "navbar-wagon-brand" do %>
    <%= image_tag "favicon.png" %>
    <div id="logo-header"><h2>Viby Lægehus</h2></div>
  <% end %>



  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Text link -->
      <% link_to "index.html", class: "navbar-wagon-item navbar-wagon-link navbar-link-wrapper" do %>
        <p>Forside</p>
      <% end %>

      <span class="navbar-link-wrapper navbar-wagon-item navbar-wagon-link">
      <div class="dropdown">
          <p class="dropdown-toggle" data-toggle="dropdown">
            Praktisk info <i class="fa fa-caret-down" aria-hidden="true"></i>
          </p>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "Ferie","praktisk_info.html#ferie" ,class: "navbar-wagon-item navbar-wagon-link"%>
            </li>
            <li>
              <%= link_to "Oplysninger","praktisk_info.html#oplysninger" ,class: "navbar-wagon-item navbar-wagon-link"%>
            </li>
            <li>
              <%= link_to "Nyttige Links","praktisk_info.html#links" ,class: "navbar-wagon-item navbar-wagon-link"%>
            </li>
          </ul>
      </div>
      </span>



      <% link_to "om_os.html", class: "navbar-wagon-item navbar-wagon-link navbar-link-wrapper" do %>
        <p>Om os</p>
      <% end %>

      <% link_to "kontakt.html", class: "navbar-wagon-item navbar-wagon-link navbar-link-wrapper" do %>
        <p>Kontakt</p>
      <% end %>
    </div>

  <!-- Dropdown appearing on mobile only -->
<!--   Tilføj Menu ved siden af dropdown icon -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown explicit-menu-container">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <div class="explicit-menu"><p>Menu</p></div>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

        <li>
          <%= link_to "Forside", "index.html" ,class: "navbar-wagon-item navbar-wagon-link"%>
        </li>

        <li>
          <%= link_to "Praktisk Info", "praktisk_info" ,class: "navbar-wagon-item navbar-wagon-link"%>
        </li>

        <li>
          <%= link_to "Om os", "om_os.html" ,class: "navbar-wagon-item navbar-wagon-link"%>
        </li>
        <li>
          <%= link_to "Kontakt", "kontakt.html" ,class: "navbar-wagon-item navbar-wagon-link"%>
        </li>
      </ul>
    </div>
  </div>

  <div class="hidden-xs hidden-sm navbar-wagon-item navbar-phone">
    <p>Telefon 86 23 24 25</p>
  </div>

</div>
